<div class="home"
     [ngStyle]="{borderColor: someHouse.owner.is_blocked? 'red' : 'none'}"
>
  City: {{someHouse.city}}
  <br>
  Street: {{someHouse.street}}
  <br>
  Price: {{someHouse.price}}GRN, {{someHouse.price | currencyPipe: curs}}USD
  <br>

  <button (click)="showFullInfo(someHouse.id)">Show full info</button>

  <br>
  <div *ngIf="showdlessInfo && someHouse.id === showedHouseIndex">

    Email: {{someHouse.owner.email}}
    <br>
    Name: {{someHouse.owner.name}}
    <br>
    Password: {{someHouse.owner.password}}
  </div>

</div>
